---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  activeItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    {TRANSITION_API && <ClientRouter />}
  </head>
  <body class="min-h-screen flex flex-col bg-base-100 text-base-content">
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-[100] focus:btn focus:btn-primary focus:btn-sm">
      Skip to content
    </a>
    <Navbar activeItemID={activeItemID} />
    <main id="main-content" class="flex-1 w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
